@model ITrustsAreaModel

<nav class="moj-sub-navigation" aria-label="Academies tabs">

  <ul class="moj-sub-navigation__list">
    @foreach (var link in Model.SubNavigationLinks)
    {
      <partial name="_TrustSubNavigationLink" model="@link"/>
    }
  </ul>

</nav>
