@model ITrustsAreaModel

<aside class="app-banner" data-testid="app-trust-header">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <partial name="_TrustBreadcrumbs" model="@Model"/>
        <h2 class="govuk-heading-l app-banner--heading govuk-!-margin-bottom-3" data-testid="trust-name-heading">@Model.TrustSummary.Name</h2>
        <p class="govuk-body app-banner--body govuk-!-margin-bottom-0" data-testid="trust-type">@Model.TrustSummary.Type</p>
      </div>
    </div>
  </div>
</aside>
