@page
@model ContactsModel

@{
  Layout = "_TrustLayout";
}

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9" data-testid="dfe-contacts">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">DfE contacts</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trust relationship manager
          </dt>
          <dd class="govuk-summary-list__value">
            Keyshawn Hermiston
            <p class="govuk-body">
              <a class="govuk-link" href="#">Keyshawn.Hermiston@education.gov.uk</a>
            </p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SFSO (Schools financial support and oversight) lead
          </dt>
          <dd class="govuk-summary-list__value">
            Ayana Lueilwitz
            <p class="govuk-body">
              <a class="govuk-link" href="#">Ayana.Lueilwitz@education.gov.uk</a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9" data-testid="trust-contacts">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Trust Contacts</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accounting officer
          </dt>
          <dd class="govuk-summary-list__value">
            Tyler Welch
            <p class="govuk-body">
              <a class="govuk-link" href="#">Tyler.Welch@abbeylaneacademiestrust.co.uk</a>
            </p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chair of trustees
          </dt>
          <dd class="govuk-summary-list__value">
            Courtney Pacocha
            <p class="govuk-body">
              <a class="govuk-link" href="#">Courtney.Pacocha@abbeylaneacademiestrust.co.uk</a>
            </p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chief financial officer
          </dt>
          <dd class="govuk-summary-list__value">
            Lowell Hoppe
            <p class="govuk-body">
              <a class="govuk-link" href="#">Lowell.Hoppe@abbeylaneacademiestrust.co.uk</a>
            </p>
          </dd>
        </div>

      </dl>
    </div>
  </div>
</section>
