@page "{ukprn}"
@model ContactsModel

@{
  Layout = "_TrustLayout";
}

@{
  ViewData["Title"] = "Contacts - " + Model.Trust.Name;
  ViewData["Heading"] = "Contacts";
}
<h1 class="govuk-heading-m">Contacts</h1>
