@page "{ukprn}"
@model DetailsModel

@{
  ViewData["Title"] = "Trust Details";
}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav aria-label="Sections" class="ds_side-navigation app-side-navigation" data-module="ds-side-navigation">
      <input type="checkbox" class="fully-hidden  js-toggle-side-navigation" id="show-side-navigation" aria-controls="side-navigation-root"/>
      <label class="ds_side-navigation__expand  ds_link" for="show-side-navigation"><span class="visually-hidden">Show all</span> Pages in this section <span class="ds_side-navigation__expand-indicator"></span></label>

      <ul class="ds_side-navigation__list" id="side-navigation-root">
        <li class="ds_side-navigation__item  ds_side-navigation__item--has-children">
          <h3>About the trust</h3>
          <ul class="ds_side-navigation__list">
            <li class="ds_side-navigation__item app-side-navigation-highlight-item">
              <a href="#" class="ds_side-navigation__link ds_current">Details</a>
            </li>
            <li class="ds_side-navigation__item app-side-navigation-highlight-item">
              <a href="#" class="ds_side-navigation__link">Contacts</a>
            </li>
            <li class="ds_side-navigation__item app-side-navigation-highlight-item">
              <a href="#" class="ds_side-navigation__link">Overview</a>
            </li>
            <li class="ds_side-navigation__item app-side-navigation-highlight-item">
              <a href="#" class="ds_side-navigation__link">Academies in this trust</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">@Model.Trust.Name</h1>
  </div>
</div>
