@using DfE.FindInformationAcademiesTrusts.Data.Enums
@model DfE.FindInformationAcademiesTrusts.Data.Enums.BeforeOrAfterJoining

@switch (Model)
{
  case BeforeOrAfterJoining.After:
  {
    <strong class="govuk-tag govuk-!-text-align-centre govuk-!-width-three-quarters">
      After
    </strong>
    break;
  }
  case BeforeOrAfterJoining.Before:
  {
    <strong class="govuk-tag govuk-tag--grey govuk-!-text-align-centre govuk-!-width-three-quarters">
      Before
    </strong>
    break;
  }
  case BeforeOrAfterJoining.NotYetInspected:
  {
    <span class="govuk-body">Not yet inspected</span>
    break;
  }
  default:
  {
    <span class="govuk-body">Unknown</span>
    break;
  }
}
