@{
  Layout = "_Layout";
}

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <main id="main-content" role="main">
      @RenderBody()
    </main>
  </div>
</div>
@await RenderSectionAsync("Scripts", false)
