@{
  Layout = "_Layout";
}

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <main id="main-content">
      @RenderBody()
    </main>
    @RenderSection("reportProblem", required: false)
  </div>
</div>
