@model BasePageModel
@{
  var inputId = "header-search";
}
<div class="dfe-header__search-wrap" id="wrap-search">
  <form class="dfe-header__search-form" id="search" asp-page="/Search" role="search" aria-label="sitewide" method="post">
    <label class="govuk-visually-hidden" for="@inputId">Search this website</label>
    <input class="dfe-search__input" id="@inputId-no-js-search-container" type="search" asp-for="KeyWords" name="keywords" placeholder="Search">
    <button class="dfe-search__submit" type="submit">
      <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
        <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
      </svg>
      <span class="govuk-visually-hidden">Search</span>
    </button>
    <template id="@inputId-js-autocomplete-template">
      <div id="@inputId-autocomplete-container" class="header-autocomplete-container"></div>
      <input type="hidden" id="@inputId-selected-trust" name="uid"/>
    </template>
  </form>
</div>

<script asp-add-nonce type="application/javascript">
  const loadHeaderAutocomplete = async () => {
    await Autocomplete.loadTrustSearch("@inputId", "@Model.KeyWords")
  }
  window.addEventListener("load", loadHeaderAutocomplete);
</script>
