<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - @Constants.ServiceName</title>
  <link rel="stylesheet" href="~/dist/main.css"/>
</head>
<body>
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<partial name="_Header"/>

<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2023 - DfE.FindInformationAcademiesTrusts - <a asp-area="" asp-page="/Privacy">Privacy</a>
  </div>
</footer>

<script src="~/dist/main.js"></script>
<script src="~/dist/javascripts/dfefrontend.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>