@using DfE.FindInformationAcademiesTrusts.Configuration
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

@{
  var hasConsented = CookiesHelper.OptionalCookiesAreAccepted(Context, TempData);
}

<head>
  <meta charset="utf-8">
  <title>@ViewData["Title"] - @ViewConstants.ServiceName</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/dist/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="~/dist/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="~/dist/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="~/dist/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="~/dist/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="~/dist/images/govuk-apple-touch-icon.png">
  <link rel="stylesheet" href="~/dist/main.css"/>
  <partial name="_AppInsights"/>

  @if (hasConsented)
  {
    <!-- Google Tag Manager -->
    <script asp-add-nonce>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-579KCM8T');</script>
    <!-- End Google Tag Manager -->
  }

</head>

<body class="govuk-template__body ">

  @if (hasConsented)
  {
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-579KCM8T"
              height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  }

  <script asp-add-nonce>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <partial name="_CookieBanner"/>
  <partial name="_NotificationBanner"/>
  <partial name="_Header"/>
  <feature name="@FeatureFlags.TestFlag">
    TEST FLAG IS ENABLED
  </feature>

  @RenderBody()

  <partial name="_Footer"/>
  <script src="~/dist/main.js"></script>
  @await RenderSectionAsync("Scripts", false)
</body>

</html>
