@{
    var notificationBannerMessage = NotificationBannerOptions.Value.Message ?? string.Empty;
}

@if (!string.IsNullOrWhiteSpace(notificationBannerMessage))
{
    <div class="dfe-width-container govuk-!-padding-top-4">
        <section class="govuk-notification-banner govuk-!-margin-bottom-4" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading govuk-heading-s dfe-width-container">@notificationBannerMessage</p>
            </div>
        </section>
    </div>
}
