@using DfE.FindInformationAcademiesTrusts.Configuration
@using Microsoft.FeatureManagement.Mvc.TagHelpers
<div class="govuk-!-margin-top-8 govuk-!-margin-bottom-4">
  <feature name="@FeatureFlags.UpdatedFooterHelpLink" negate="true">
    <a class="govuk-body govuk-link" href="@ViewConstants.ReportAProblemMailToLink">Report a problem with information on this page</a>
  </feature>
  <feature name="@FeatureFlags.UpdatedFooterHelpLink">
    <a class="govuk-body govuk-link" href="@ViewConstants.GetHelpFormLink">Report a problem with information on this page</a>
  </feature>
</div>
