$govuk-assets-path: "/node_modules/govuk-frontend/govuk/assets/";
@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/dfe-frontend-alpha/packages/dfefrontend";
@import "./sass/components";

.govuk-width-container {
  max-width: 1200px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
table,
th,
td,
blockquote,
ol,
li,
dt,
dd,
tr {
  // noinspection Stylelint
  font-family: BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif !important;
}
