### Dotfiles
.dockerignore
.DS_Store
.env
.idea
.git
.gitattributes
.gitignore
.github
.vs
.vscode

### Docker
docker-compose.yml
docker-compose.*.yml
docker/
!docker/web-docker-entrypoint.sh

### Docs
docs
*.md
CODEOWNERS

### .NET
**/bin/
**/obj/
**/dist/
**/lib/
**/*.user

### Node
**/node_modules

### Terraform
terraform

### Tests
tests/
StrykerOutput/
stryker-config.json
renovate.json
