### Terraform
.terraformrc*
terraform.rc*
*.tfstate*
*.tfvars*
!terraform.tfvars.example
.terraform/
backend.vars

### Mac
.DS_Store

### Rider
.idea/

### .NET
bin/
obj/
dist/
lib/
*.user

### Docker
.env

### Node
node_modules/

### Cypress
test-results/
zap-reports/
.auth/
cypress.env.json
cypress.*.env.json
**/cypress/screenshots/**
**/cypress/downloads/**
**/cypress/reports/**
mochareports/
**/cypress/accessibility/**

### Visual Studio and VSCode config
.vs
.vscode
