# This sets the default owner for all code.
* @dynamictulip @SteBradbury

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96 @dynamictulip @SteBradbury
docker/* @drizzlyowl @stretch96 @dynamictulip @SteBradbury
terraform/* @drizzlyowl @stretch96 @dynamictulip @SteBradbury

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148 @dynamictulip @SteBradbury
