@model DfE.FIAT.Data.Person

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
            @if (Model != null && !string.IsNullOrWhiteSpace(Model.FullName))
      {
        <dd class="govuk-summary-list__value" data-testid="contact-name">@Model.FullName</dd>
      }
      else
      {
        <dd class="govuk-summary-list__value" data-testid="contact-name">No contact name available</dd>
      }
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email address
      </dt>
            @if (Model != null && !string.IsNullOrWhiteSpace(Model.Email))
      {
        <dd class="govuk-summary-list__value">
          <a class="govuk-link" href="mailto:@Model.Email" rel="noopener" target="_blank" data-testid="contact-email">@Model.Email</a>
        </dd>
      }
      else
      {
        <dd class="govuk-summary-list__value" data-testid="contact-email">No contact email available</dd>
      }
    </div>
  </dl>
</div>
