@{
    Layout = "_Layout";
}

<partial name="_MMCBanner" />
<div class="govuk-main-wrapper govuk-!-padding-top-6">
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <main id="main-content">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}
