@model OfstedRatingCellModel
<td class="govuk-body govuk-table__cell">
  <span class="govuk-!-font-weight-bold">@Model.OfstedRatingDescription</span>
  <span>
    @if (Model.OfstedRating.InspectionEndDate is not null)
    {
      <br/>
      @Model.OfstedRating.InspectionEndDate.Value.ToString(ViewConstants.ViewDateFormat)
      <br/>
      <strong class="@Model.GetTagClasses() govuk-!-margin-top-2 govuk-!-margin-bottom-1">
        @Model.GetTagText()
      </strong>
    }
  </span>
</td>
