@page
@model AcademiesDetailsModel

@{
  Layout = "Academies/_AcademiesLayout";
}

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="academies-details-link">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">School name</th>
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Local authority</th>
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Type</th>
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Rural or urban</th>
        <th scope="col" class="govuk-body govuk-table__header">Get information about schools (opens in a new tab)</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-body govuk-table__cell" data-sort-value="Barr and Community R.C. School">
          <span class="govuk-!-font-weight-bold">Barr and Community R.C. School</span><br/>URN: 109174
        </td>
        <td class="govuk-body govuk-table__cell">Kingston upon Hull, City of</td>
        <td class="govuk-body govuk-table__cell">Academy converter</td>
        <td class="govuk-body govuk-table__cell">Urban minor conurbation</td>
        <td class="govuk-body govuk-table__cell">
          <a href="" class="govuk-link">More information</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-body govuk-table__cell" data-sort-value="Beacon School">
          <span class="govuk-!-font-weight-bold">Beacon School</span><br/>URN: 118872
        </td>
        <td class="govuk-body govuk-table__cell">North East Lincolnshire</td>
        <td class="govuk-body govuk-table__cell">Academy sponsor led</td>
        <td class="govuk-body govuk-table__cell">Urban city and town</td>
        <td class="govuk-body govuk-table__cell">
          <a href="" class="govuk-link">More information</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-body govuk-table__cell" data-sort-value="George Abbey Secondary Academy">
          <span class="govuk-!-font-weight-bold">George Abbey Secondary Academy</span><br/>URN: 138867
        </td>
        <td class="govuk-body govuk-table__cell">Leeds</td>
        <td class="govuk-body govuk-table__cell">Academy converter</td>
        <td class="govuk-body govuk-table__cell">Rural town and fringe</td>
        <td class="govuk-body govuk-table__cell">
          <a href="" class="govuk-link">More information</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
