.app-table-container {
  overflow: auto;

  [aria-sort] button {
    // increase padding slightly to add space between the column header and the sort icon
    // as we have removed the negative position below
    padding-right: 1rem;

    // Fix sort icons provided by MOJ design system overlapping slightly on Chrome and Edge
    &::before {
      top: 11px;
    }

    // Fix sort icons causing content to always overflow container
    // this causes horizontal scroll to always visible when using overflow:auto
    &::before,
    &::after {
      right: 0;
    }
  }

  .column-header-date {
    width: 15%;
  }

  .column-header-ofsted-concern,
  .column-header-ofsted-date {
    width: 18%;
  }

  .column-header-ofsted-rating {
    width: 10%;
  }
}
