@page
@model FederationModel

@{
  Layout = "_SchoolLayout";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" data-testid="subpage-header">Federation details</h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">Name</dt>
        <dd class="govuk-summary-list__value">My school name</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">UID (Unique group identifier)</dt>
        <dd class="govuk-summary-list__value">1111/0000</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">Opened on</dt>
        <dd class="govuk-summary-list__value">5th January 1978</dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--m"/>
    <h3 class="govuk-heading-m">Schools in this federation</h3>
    <ul class="govuk-list govuk-list--bullet">
      @* loop goes here *@
      <li>
        <a href="#" target="_blank" class="govuk-link">Another school</a>
      </li>
      <li>
        <a href="#" target="_blank" class="govuk-link">Yet another school</a>
      </li>
      <li>
        <a href="#" target="_blank" class="govuk-link">One more school</a>
      </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--m"/>
  </div>
</div>