.fiat-data-source-list .fiat-data-source-list__item {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: fit-content(50%) fit-content(50%);
  gap: 0.625rem;
  align-items: stretch;
  margin-bottom: 0.625rem;
}

.fiat-data-source-list .fiat-data-source-list__title {
  font-weight: bold;
}

.fiat-data-source-list__cell {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}
