@import "../variables";

.app-search {
  &__form {
    line-height: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    @include govuk-font($size: 19);
  }

  .autocomplete__input {
    background-color: govuk-colour("white");
  }

  .autocomplete__option {
    margin-bottom: 0;
  }

  .autocomplete__option-hint {
    display: block;
    @include govuk-font(16);
    color: $govuk-secondary-text-colour;
  }

  .autocomplete__option--focused,
  .autocomplete__option:hover {
    .autocomplete__option-hint {
      color: govuk-colour("white");
    }
  }

  .app-search__button {
    border-left: none;
    border-color: govuk-colour("black");
    border-radius: 0 4px 4px 0;
    box-shadow: none;
    display: flex;
    gap: 10px;
    height: 3rem;
    width: unset;
  }

  .app-search__icon {
    height: 100%;
  }

  .app-search__button--blue {
    background-color: $govuk-link-colour;

    .app-search__icon {
      fill: govuk-colour("white");
    }

    &:hover {
      background-color: #002644;
      border-color: govuk-colour("black");
      box-shadow: none;
    }

    &:focus {
      background-color: govuk-colour("yellow");

      .app-search__icon {
        fill: govuk-colour("black");
      }
    }
  }
  
  .app-search__button--blue:focus:hover {
    border-color: govuk-colour("yellow");
    background-color: #002644;

    .app-search__icon {
      fill: govuk-colour("white");
    }
  }
  
  .app-search--header {
    .autocomplete__input {
      -webkit-appearance: listbox;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
      padding: 0 16px;
    }

    .autocomplete__input:focus {
      border: 4px solid #0b0c0c;
      box-shadow: 0 0 0 4px #ffdd00;
      outline: 4px solid transparent;
      outline-offset: 4px;
      padding: 0 9px;
    }
    
    .autocomplete__input::placeholder {
      color: #505a5f;
      font-size: 16px;
    }

    .autocomplete__input:-ms-input-placeholder {
      color: #505a5f;
      font-size: 16px;
    }

    .autocomplete__input::-webkit-input-placeholder {
      color: #505a5f;
      font-size: 16px;
    }

    .autocomplete__menu {
      text-align: left;
    }

    .autocomplete__option-hint {
      display: block;
      @include govuk-font(16);
      color: $govuk-secondary-text-colour;
    }

    .autocomplete__option--focused,
    .autocomplete__option:hover {

      .autocomplete__option-hint {
        color: govuk-colour("white");
      }
    }

    @media (width <= 40.0525em) {
      .autocomplete__input {
        border-bottom: 1px solid #aeb7bd;
        border-left: 1px solid #aeb7bd;
        border-right: 0;
        border-top: 1px solid #aeb7bd;
        flex-grow: 2;
        -ms-flex-positive: 2;
        font-size: inherit;
        height: 52px;
        margin: 0;
        outline: none;
        width: 100%;
        z-index: 1;
      }
    }

    @media (min-width >= 40.0625em) {
      .autocomplete__input {
        border: 1px solid #ffffff;
        font-size: 16px;
        height: 40px;
        width: 335px;
      }
    }

    @media (min-width >= 48.0625em) {
      .autocomplete__input {
        width: 335px;
      }
    }
  }
}

.app-search__wrapper {
  display: -ms-flexbox;
  display: flex;

  & > div {
    width: 100%;
  }

  .govuk-input {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  .govuk-input__wrapper .govuk-input:focus {
    z-index: 2;
  }

  @media (max-width: 19.99em) {
    .govuk-input__wrapper .govuk-input {
      max-width: 100%;
    }
  }

  .autocomplete__input,
  .app-search__input {
    border-right: none;
    border-color: govuk-colour("black");
    height: 3rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
  }

  .autocomplete__input:focus,
  .app-search__input:focus {
    height: 3rem;
    box-shadow: 0 0 0 4px govuk-colour("yellow");
  }
}
