.app-side-navigation {
  margin-top: 0;

  &__title {
    padding: 0 40px 8px 0;
  }

  &__item--has-children {
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");
  }

  .ds_side-navigation__expand {
    @include govuk-font($size: 19, $weight: bold);
  }
}

@include ds_media-query(medium) {
  .app-side-navigation {
    &__item--has-children {
      @include govuk-responsive-margin(0, "top");
    }

    &__list &__list {
      margin-left: -16px;
    }
  }
}
