@page
@model AccessibilityModel

@{
  Layout = "_ContentLayout";
  ViewData["Title"] = "Accessibility statement";
}

<div class="govuk-grid-row">
  <section class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      Accessibility statement
    </h1>
    <p class="govuk-body">
      This accessibility statement applies to Find information about academies and trusts (FIAT).
    </p>
    <p class="govuk-body">
      This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">
      We’ve also made the website text as simple as possible to understand.
    </p>
    <p class="govuk-body">
      <a href="https://mcmw.abilitynet.org.uk" class="govuk-link" rel="noopener" target="_blank">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.
    </p>
    <h2 class="govuk-heading-m">
      How accessible this website is
    </h2>
    <p class="govuk-body">
      We know some parts of this website are not fully accessible:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Details page</li>
      <li>Contacts page</li>
      <li>Overview page</li>
      <li>Academies in this trust page</li>
    </ul>
    <h2 class="govuk-heading-m">
      Feedback and contact information
    </h2>
    <p class="govuk-body">
      If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille email <a href="mailto:regionalservices.rg@education.gov.uk" class="govuk-link" rel="noopener" target="_blank">regionalservices.rg@education.gov.uk</a>.
    </p>
    <p class="govuk-body">
      We’ll consider your request and get back to you in 5 working days.
    </p>
    <h2 class="govuk-heading-m">
      Reporting accessibility problems with this website
    </h2>
    <p class="govuk-body">
      We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:
      <a href="mailto:regionalservices.rg@education.gov.uk" class="govuk-link" rel="noopener" target="_blank">regionalservices.rg@education.gov.uk</a>.
    </p>
    <h2 class="govuk-heading-m">
      Enforcement procedure
    </h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" rel="noopener" target="_blank">contact The Equality Advisory and Support Service (opens in new tab)</a>.
    </p>
    <h2 class="govuk-heading-m">
      Technical information about this website’s accessibility
    </h2>
    <p class="govuk-body">
      The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <h3 class="govuk-heading-s">
      Compliance status
    </h3>
    <p class="govuk-body">
      This website is partially compliant with the WCAG (Web Content Accessibility Guidelines) version 2.1 AA standard, due to the following non-compliances (and/or) the following exemptions.
    </p>
    <h2 class="govuk-heading-m">
      Non-accessible content
    </h2>
    <p class="govuk-body">
      The content is non-accessible for the following reason:
    </p>
    <h3 class="govuk-heading-s">
      Non-compliance with the accessibility regulations
    </h3>
    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>There is no clear alternate navigation back to the home page when looking at a trust or academy. This does not meet<a href="https://www.w3.org/WAI/WCAG22/Understanding/multiple-ways" class="govuk-link" rel="noopener" target="_blank"> WCAG 2.2 AA success criteria 2.4.5.</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">
      What we're doing to improve accessibility
    </h2>
    <p class="govuk-body">
      Since the accessibility audit, changes have been made to FIATs header area. This includes adding a 'home' button to allow users to easily get back to the homepage from anywhere on the site.
    </p>
    <p class="govuk-body">
      We believe that this addresses the accessibility non-compliance, and we will update this statement following our next audit later in the year.
    </p>
    <h2 class="govuk-heading-m">
      Preparation of this accessibility statement
    </h2>
    <p class="govuk-body">
      This statement was prepared on 27 November 2023. It was last reviewed on 11 July 2024.
    </p>
    <p class="govuk-body">
      This website was last tested on 19 December 2023. The test was carried out by a Senior Accessibility Advisor at in Department for Education's Operations and Infrastructure Group.
    </p>
    <p class="govuk-body">
      Every page of the website was included in the test.
    </p>
  </section>
</div>
