@page
@model CookiesModel

@{
  Layout = "_ContentLayout";
  ViewData["Title"] = "Cookies";
}

@if (Model.DisplayCookieChangedMessageOnCookiesPage)
{
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        You’ve set your cookie preferences. <a class="govuk-notification-banner__link" data-test="success-banner-return-link" href="@Model.ReturnPath">Go back to the page you were looking at</a>.
      </p>
    </div>
  </div>
}

<h1 class="govuk-heading-xl">Cookie preferences</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Cookies are small files saved on your phone, tablet or computer when you visit a website.
    </p>
    <p class="govuk-body">
      We use cookies to make Find information about academies and trusts work and collect information about how you use our service.
    </p>
    <h2 class="govuk-heading-l">Essential cookies</h2>
    <p class="govuk-body">
      Essential cookies keep your information secure while you use this site. We do not need to ask permission to use them.
    </p>
    <table class="govuk-table" aria-label="Essential cookies">
      <thead class="govuk-table__header">
        <tr>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell">.FindInformationAcademiesTrusts.Login</td>
          <td class="govuk-table__cell">Used to keep you signed in</td>
          <td class="govuk-table__cell">With browser settings (Session)</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">.FindInformationAcademiesTrusts.CookieConsent </td>
          <td class="govuk-table__cell">Stores your consent to optional cookies </td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">.AspNetCore.Session </td>
          <td class="govuk-table__cell">Stores session details used for the service to function </td>
          <td class="govuk-table__cell">With browser settings (Session)</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">ASLBSA </td>
          <td class="govuk-table__cell">Used to balance the load on our servers </td>
          <td class="govuk-table__cell">With browser settings (Session)</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">ASLBSACORS </td>
          <td class="govuk-table__cell">Used to balance the load on our servers </td>
          <td class="govuk-table__cell">With browser settings (Session)</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">.AspNetCore.Antiforgery </td>
          <td class="govuk-table__cell">Secures you and our service against Cross Site Scripting Attacks (CSRF) </td>
          <td class="govuk-table__cell">With browser settings (Session)</td>
        </tr>
      </tbody>
    </table>

    <h1 class="govuk-heading-l">Optional analytics cookies</h1>
    <p class="govuk-body">
      With your permission, we use Application Insights to collect data about how you use this site. This information helps us to improve our service.
    </p>
    <p class="govuk-body">
      Application Insights is not allowed to use or share our analytics data with anyone. Application Insights stores anonymised information about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you got to this site</li>
      <li>the pages you visit on this site and how long you spend on them</li>
      <li>any errors you see while using this site</li>
      <li>what you click on while you are visiting the site</li>
    </ul>

    <table class="govuk-table" aria-label="Essential cookies">
      <thead class="govuk-table__header">
        <tr>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell">ai_user</td>
          <td class="govuk-table__cell">Checks if you have visited this site before. This helps us count how many people visit our site.</td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">ai_session</td>
          <td class="govuk-table__cell">Checks if you have visited this site before. This helps us count how many people visit our site.</td>
          <td class="govuk-table__cell">30 minutes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<form method="post" name="frmCookies">
  <div class="govuk-form-group">
    <input type="hidden" name="redirectPath" value="@(HttpContext.Request.Path + HttpContext.Request.QueryString)"/>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h3 class="govuk-fieldset__heading">Do you want to accept cookies that measure your website use?</h3>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="cookies-accept" type="radio" name="consent" value="true" data-test="accept-cookies" checked="@Model.Consent">
          <label class="govuk-label govuk-radios__label" for="cookies-accept">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="cookies-reject" type="radio" name="consent" value="false" data-test="reject-cookies" checked="@(!Model.Consent)">
          <label class="govuk-label govuk-radios__label" for="cookies-reject">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button" data-test="save-changes">Save changes</button>
</form>
