@page
@using DfE.FindInformationAcademiesTrusts.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<main id="main-content">
  <div class="app-banner app-banner--l">
    <div class="dfe-width-container">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
              <h1 class="govuk-heading-xl app-banner--heading govuk-!-margin-bottom-8">
                  Find information about schools and trusts
              </h1>
              <form class="govuk-form-group app-search govuk-!-margin-bottom-0" asp-page="Search" method="post" role="search" aria-label="sitewide">
                  <p class="govuk-body">Use this tool to find information on trusts and schools, including academies.</p>
                  <details class="govuk-details" data-module="govuk-details" data-testid="what-you-can-find-list">
                      <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                              <span>Establishments you can search</span>
                          </span>
                      </summary>
                      <ul class="govuk-list govuk-details__text govuk-list--bullet">
                          <li class="govuk-!-margin-left-5">academies</li>
                          <li class="govuk-!-margin-left-5">free schools</li>
                          <li class="govuk-!-margin-left-5">local authority maintained schools</li>
                          <li class="govuk-!-margin-left-5">special schools</li>
                          <li class="govuk-!-margin-left-5">trusts</li>
                      </ul>
                  </details>
                  <partial name="_PageSearchForm" model="Model"/>
              </form>
          </div>
      </div>
    </div>
  </div>
  <div class="dfe-width-container govuk-!-padding-top-6">
    <h2 class="govuk-heading-l">
      Other tools and products (links open in a new tab)
    </h2>
    <div class="dfe-grid-container">
      @foreach (var serviceLink in ViewConstants.ExternalServiceLinks)
      {
        DisplayLinkInCard(serviceLink);
      }
    </div>
  </div>
</main>


@functions
{
  private void DisplayLinkInCard(ExternalServiceLink serviceLink)
  {
    <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
          <a href="@serviceLink.Url" class="govuk-link govuk-link--no-visited-state dfe-card-link--header" rel="noopener" target="_blank" aria-label="@serviceLink.ServiceName (opens in a new tab)">@serviceLink.ServiceName</a>
        </h3>
        <p>@serviceLink.ServiceDescription</p>
      </div>
    </div>
  }
}
