@page
@model DfE.FindInformationAcademiesTrusts.Pages.Shared.ContentPageModel

@{
  Layout = "_ContentLayout";
  ViewData["Title"] = "Privacy notice";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      Privacy notice for Find information about schools and trusts
    </h1>
    <p class="govuk-body">
      The Department for Education (DfE) owns ‘Find information about schools and trusts’ and is also the data controller for the personal data processed as part of the product.
    </p>
    <p class="govuk-body">
      This notice explains why we use personal information and how.
    </p>
    <h2 class="govuk-heading-m">
      What data is collected
    </h2>
    <p class="govuk-body">
      We may use the following personal information:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>trust and school managers and governance roles name and email addresses</li>
      <li>authorised and public user’s internet protocol address (IP)</li>
      <li>DfE SFSO lead and trust relationship manager names and email addresses</li>
    </ul>
    <h2 class="govuk-heading-m">
      Why we use it
    </h2>
    <p class="govuk-body">
      DfE processes data to compile and maintain a register of academies and trusts in England and Wales. This product is a tool for everyone in DfE to find information which is collated from multiple sources about academies and trusts to inform their assessments, decisions and support activities.
    </p>
    <h2 class="govuk-heading-m">
      Our legal basis for processing your data
    </h2>
    <p class="govuk-body">
      The law says that we can use the data you provide to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>in the exercise of our functions as a government department</li>
      <li>perform a task in the public interest</li>
    </ul>
    <h2 class="govuk-heading-m">
      Where your data is stored and processed
    </h2>
    <p class="govuk-body">
      The DfE holds and processes personal information within the United Kingdom (UK) and under contracted services, within the European Economic Area (EEA).
    </p>
    <p class="govuk-body">
      Your personal data may be transferred outside the United Kingdom while being processed by DfE. If this happens, we’ll make sure you’re given the same level of technical and legal protection as you are within the United Kingdom.
    </p>
    <h2 class="govuk-heading-m">
      How long we keep your data
    </h2>
    <p class="govuk-body">
      We will only keep your personal data for as long as:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the law requires us to</li>
      <li>we need for the purposes listed under ‘Why we use it’</li>
    </ul>
    <p class="govuk-body">
      Under law, personal data can be kept for longer periods of time when processed purely for archiving purposes in the public interest, scientific or historical research, and statistical purposes.
    </p>
    <p class="govuk-body">
      We can keep non-public personal data for 6 years. It is then reviewed annually.
    </p>
    <h2 class="govuk-heading-m">
      Who we share your data with
    </h2>
    <p class="govuk-body">
      We may share information we hold about you with certain organisations where the law allows it, or if we have a legal obligation to do so. We may share information with other organisations, including the following:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>national and local agencies who look after children</li>
      <li>local authorities</li>
      <li>professionals who work in early years, schools and further and higher education institutions, children’s services and health services</li>
      <li>other government departments and related public-sector bodies</li>
      <li>research institutions</li>
      <li>organisations contracted with us and/or by the above organisations to undertake work for them, requiring them to manage your information</li>
    </ul>
    <p class="govuk-body">
      We will share your data if we’re required to do so by law — for example, by court order, or to prevent fraud or other crime.
    </p>
    <h2 class="govuk-heading-m">
      Your rights
    </h2>
    <p class="govuk-body">
      By law you are entitled to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ask to see a copy of any information we hold about you - this is called a Subject Access Request (SAR)</li>
      <li>ask us to correct mistakes in your data</li>
      <li>ask us to stop processing it</li>
      <li>ask us to delete it</li>
    </ul>
    <p class="govuk-body">
      If you ask us to delete or stop processing data from an ongoing application, we may not be able to continue with it.
    </p>
    <p class="govuk-body">
      You may also want to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" class="govuk-link" rel="noopener" target="_blank">read DfE’s Personal Information Charter (opens in new tab)</a>
        for more information on the data it holds, and how to make an SAR
      </li>
      <li>
        <a href="https://ico.org.uk/" class="govuk-link" rel="noopener" target="_blank">visit the Information Commissioner’s Office website (opens in new tab)</a> to learn more about your rights
      </li>
    </ul>
    <h2 class="govuk-heading-m">
      Contact us or make a complaint
    </h2>
    <p class="govuk-body">
      If you have any questions about the way we use your data, or if you want to make a complaint, you can:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen" class="govuk-link" rel="noopener" target="_blank">use the DfE contact form (opens in new tab)</a>, or
      </li>
      <li>
        write to our Data Protection Officer (DPO) at
      </li>
    </ul>
    <p class="govuk-body-m">
      Data Protection Officer<br>
      Department for Education (B2.28)<br>
      7 & 8 Wellington Place<br>
      Wellington Street<br>
      Leeds<br>
      LS1 4AW
    </p>
    <h2 class="govuk-heading-m">
      Changes to this policy
    </h2>
    <p class="govuk-body-m">
      We recommend that you come back to this page from time to time as we sometimes need to update this information.
    </p>
    <p class="govuk-body-m">
      Last updated October 2023.
    </p>
  </div>
</div>
