@page
@model SearchModel

@{
  ViewData["Title"] = "Search";
}

<h1>Search results for "@Model.Query"</h1>

<ul class="govuk-list">
  @foreach (var trust in Model.Trusts)
  {
    <li>
      <p>@Html.DisplayFor(modelItem => trust.Name)</p>
      <p>Address: @Html.DisplayFor(modelItem => trust.Address)</p>
    </li>
  }
</ul>
