@page
@model SearchModel

@{
  ViewData["Title"] = "Search";
}

<h1>Search results for "@Model.Query"</h1>

<ul class="govuk-list">
  @foreach (var trust in Model.Trusts)
  {
    <li>
      @Html.DisplayFor(modelItem => trust.Name)
    </li>
  }
</ul>