@import "./variables";

.app-banner {
  @include govuk-responsive-padding(5, "top");
  @include govuk-responsive-padding(5, "bottom");
  background-color: $app-blue-light;

  .app-banner--heading {
    color: $color_dfe-blue;
  }

  .app-banner--body {
    color: govuk-colour("black");
  }

  &.app-banner--l {
    @include govuk-responsive-padding(9, "top");
    @include govuk-responsive-padding(8, "bottom");
  }
}

.app-search {
  &.app-search--border {
    .dfe-search__input {
      border: 2px solid govuk-colour("black");
      border-right: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
    }
  }

  .app-search__button--blue {
    background-color: $govuk-link-colour;

    .app-search__icon {
      fill: govuk-colour("white");
    }

    &:hover {
      background-color: #002644;
      border-color: #002644;
    }
  }
}
