@import "./variables";
@import "components/search";
@import "components/table";
@import "components/header-search";
@import "components/export-button";
@import "components/sourceList";
@import "components/internalUseOnlyWarning";
@import "components/footer";

.app-banner {
  @include govuk-responsive-padding(3, "top");
  @include govuk-responsive-padding(3, "bottom");
  background-color: $app-color-blue-light;

  .app-banner--heading {
    color: $app-color-dfe-blue;
  }

  .app-banner--body {
    color: $govuk-secondary-text-colour;
  }

  &.app-banner--l {
    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(5, "bottom");
  }

  &.app-banner--s {
    @include govuk-responsive-padding(0);
  }
}

.app-search-results-summary-list {
  @include govuk-responsive-margin(4, "top");
  display: block;

  .app-search-results-summary-list__row {
    display: flex;
    margin: 0;
  }

  .app-search-results-summary-list__item {
    display: block;
    padding: 0;
    width: auto;
  }

  .app-search-results-summary-list__key {
    @include govuk-responsive-padding(2, "right");
  }
}
