@import "inter-ui/inter.css";
$govuk-assets-path: "/node_modules/govuk-frontend/dist/govuk/assets/";

// Add DfE design system styles
$govuk-font-family: "Inter", blinkmacsystemfont, "Segoe UI", roboto,
  oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
$govuk-page-width: 1200px;

@import "govuk-frontend";
@import "accessible-autocomplete";
@import "./imports/dfe-frontend";
@import "./imports/ministry-of-justice";
$govuk-new-typography-scale: true;
